.background {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  animation: backgroundAnimation 20s linear infinite;
}

@keyframes backgroundAnimation {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}