.bookTitle {
    margin-left: 32%;
    margin-bottom: 50px;
    display: flex;
    width: 500px;
    height: 100px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    border-radius: 0px 0px 10px 10px;
    border: 2px solid #000;
    background: #FFF;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.date {
    float: right;
    margin-top: 20px;
    margin-right: 20px;
}

.box {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
    width: 1000px;
    height: 550px;
    border-radius: 10px;
    border: 2px solid #000;
}

.completeBtn {
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    width: 100px;
    height: 50px;
    cursor: pointer;
    text-align: center;
    border: #83B099 2px solid;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.completeBtn:hover {
    background-color: #83B099;
    color: white;
} 