.content {
  margin: auto;
  width: 1000px;
  height: 659px;
  background-color: white;
  border: black 2px solid;
  border-radius: 10px;
}

.leftDiv {
  float: left;
  width: 40%;
  height: 100%;
}
.rightDiv {
  display: flex;
  float: right;
  width: 60%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
}

.bookTitle {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.wordlist {
  background-color: #D9D9D9;
  width: 500px;
  height: 367px;
  margin: auto;
}

.startBtn {
  display: flex;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  width: 250px;
  height: 75px;
  border-radius: 10px;
  cursor: pointer;
  border: #83B099 2px solid;
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.startBtn:hover {
  background-color: #83B099;
  color: white;
}