.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.profile_container {
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile {
    width: 248px;
    height: 248px;
}

.name_container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    width: 495px;
    height: 128px;
}

.input_name {
    width: 495px;
    height: 53px;
    border: none;
    border-bottom: 1px gray solid;
    text-align: center;

    color: #828282;
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.alert_name {
    color: #FF0101;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 0
}

.good_name {
    color: rgb(5, 195, 24);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 0
}

.age_container {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.age_p {
    width: 123px;
    height: 40px;
    margin: 0;
    color: #828282;
    text-align: center;
    font-family: Inter;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.age_select {
    width: 200px;
    height: 40px;

    color: #828282;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.language {
    height: 100px;
}
.language_container {
    display: flex;
    justify-content: center;
}

.language_button {
    width: 195px;
    height: 53px;
    margin: 0 10px 0 10px;
    color: black;
    background-color: white;
    border: #83B099 2px solid;
    text-align: center;
    font-family: Inter;
    font-size: 30px;
    font-weight: 700;
}

.language_button:focus {
    background-color: #83B099;
    color: white;
} 

.complete_button {
    width: 195px;
    height: 70px;
    margin: 0 10px 0 10px;
    border-radius: 10px;
    background: #E0D2B8;
    color: #000;
    font-family: Inter;
    font-size: 30px;
    font-weight: 700;
}
