.searchInput {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;  
    width: 587px;
    height: 50px;
}

.searchBtn {   
    cursor: pointer;
    width: 50px;
    height: 50px;
    border: 3px solid #000;
    background: #FFF;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.searchBtn:hover {
    
}

.wordTable {
    display: flex;
    margin: auto;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}